# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vs/*
colorz_cosmos/x64/*
colorz_cosmos/Debug/*
Debug/*
x64/*
colorz_cosmos/colorz_cosmos.vcxproj
colorz_cosmos/colorz_cosmos.vcxproj.filters